.thumb {
  width: 300px; /*se eu setar width seta height automatico*/ 
  display: block;
  object-fit: cover;
}

.search-bar {
  display: block;
  font-size: 20px;
}

.video-preview {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}

.title {
  margin-top: 0;
}

.channel-pfp {
  width: 50px;
  display: inline-block;
  vertical-align: top;
}

.channel-pfp-img {
  width: 100%;
}

.video-info {
  width: 200px;
  display: inline-block;
}


