.sidebar {
  width: 72px;
  position: fixed;
  background-color: white;
  left: 0;
  bottom: 0;
  top: 55px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74px;
  width: 72px;
}

.sidebar-box:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.sidebar-icons img {
  height: 24px;
  margin-bottom: 7px;
}

.sidebar-box div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
