.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: none;
  background-color: red;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: green;
  border: none;
  border-radius: 50px;
  margin-left: 30px;
}

.question {
  width: 200px;
  height: 85px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  padding-left: 8px;
  margin-top: 10px;
}

.ytmusic {
  padding: 18px 0 0 15px;
  width: 350px;
  height: 100px;
  background-color: rgb(24, 24, 24);
  margin-top: 15px;
}

.install-p {
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
}


.description-p {
  font-family: Arial;
  color: gray;
  width: 340px;
  margin-bottom: 0;
}