.tweet {
  border: none;
  border-radius: 5px;
  width: 450px;
  padding: 12px 12px 12px 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.account-img2 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: left;
  border: none;
  border-radius: 100px;
  margin-left: 10px;
}

.tweet-box {
  font-size: 17px;
  width: 300px;
  vertical-align: middle;
  border: none;
}

.tweet-button {
  vertical-align: middle;
  padding: 8px 16px 8px 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(65, 65, 247);
  border: none;
  border-radius: 30px;
}


.fb-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 12px;
  align-items: center;
}

.friend-box {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
}

.account-img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  object-position: left;
}

.account-img:hover {
  cursor: pointer;
}

.name-p {
  width: 130px;
  font-weight: bold;
  margin: 5px 0 4px 5px;
}

.pfp-img {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 5px;
}

.stats-mutual {
  margin: 0 0 10px 2px;
  font-size: 15px;
  color: gray;
  display: inline-block;
}

.friend-button {
  padding: 7px 16px 7px 16px;
  color: white;
  background-color: rgb(65, 65, 247);
  border: none;
  border-radius: 3px;
  margin: 0 0 9px 5px ;
  transition: opacity 0.2s;
}

.friend-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.friend-button:active {
  opacity: 0.5;
}

