.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background-color: rgb(29, 29, 29);
  align-items: center;
  padding-top: 20px;
}

.pfp {
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 100%;
  margin-bottom: 8px;
}

.second-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 80px;
  width: 200px;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 18px;  
}

p {
  font-family: Roboto, Arial;
  color: gray;
  margin: 0;
}

span {
  margin-left: 6px;
}

.sidebar-title {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  margin-bottom: 10px;
}

.info-title {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.icon {
  font-size: 25px;
}

.channel {
  font-size: 16px;
  margin-bottom: 16px;
}