
p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 8px;
}

.p1 {
  font-size: 40px;
}

.USD-span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.p2 {
  color: rgb(53, 179, 89);
  font-size: 20px;
}

.p3 {
  font-size: 20px;
  color:rgba(0, 0, 0, 0.5);
}

.percentage-span {
  color: rgba(255, 0, 0, 0.8);
}
